<h2 class="mt-4">Get Transaction Files</h2>

<%= button_to 'Send Request', fetch_transactions_transactions_path, method: :post, class: 'btn btn-primary mt-3' %>
<%= button_to 'Download Excel', transactions_path(format: :xlsx), method: :get, class: 'btn btn-primary' %>
